 .form{
/*      
    border: 1px solid red;
    width: 100%;
    height: 400px;
    margin-top: 2%; */
    text-align: center;
    margin: auto;
   
} 
.input{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid red;
    margin-top: 5%;
    width: 200px;
    
}
/* .select{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 30%;
    width: 30%;
} */
/* .option{
    width: 30%;
    height: 30%;
} */
/* .submit{
    width: 25%;
    border: 1px solid red;
} */